<div class='flex-container flex-column flex-center width-100'>
  <h1 class='color-purple'>Todo's List</h1>
  <div class='flex-container flex-center width-100'>
    <div class='flex-container flex-column width-80'>
      <div class='flex-container flex-space-between-row table-header table-row'>
        <div class='flex-container flex-center width-20'>Name</div>
        <div class='flex-container flex-center width-20'>Description</div>
        <div class='flex-container flex-center width-20'>Completed</div>
        <div class='flex-container flex-center width-20'>Created</div>
        <div class='flex-container flex-center width-20'></div>
      </div>
    </div>
  </div>
</div>

