<div>
  <ul class="nav nav-tabs">
    <li [ngClass]="{active: chosenList === 'all'}">
      <a class="pointer" (click)="onChoose('all')">All</a>
    </li>
    <li [ngClass]="{active: chosenList === 'light'}">
      <a class="pointer" (click)="onChoose('light')">Light</a>
    </li>
    <li [ngClass]="{active: chosenList === 'dark'}">
      <a class="pointer" (click)="onChoose('dark')">Dark</a>
    </li>
  </ul>
  <app-list [characters]="getCharacters()" (sideAssigned)="onSideChosen($event)"></app-list>
</div>


