<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="form-group">
    <label for="name">Character Name</label>
    <input
      type="text"
      ngModel
      id="name"
      name="name"
      #nameCtrl="ngModel"
      required
      class="form-control">
    <span class="help-block with-errors" *ngIf="nameCtrl.invalid && nameCtrl.touched">Enter Name!</span>
  </div>
  <div class="form-group">
    <label for="side">Choose Side</label>
    <select ngModel class="from-control" name="side" id="side">
      <option *ngFor="let option of availableSides" [value]="option.value">
        {{ option.display }}
      </option>
    </select>
  </div>
  <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Add Character</button>
</form>
