<div class="row">
  <div class="col-4">
    <img [src]="book.image" class="img-thumbnail book-image">
  </div>
  <div class="col-8">
    <div class="row">
      <h2 class="book-title">{{book.title}}</h2>
    </div>
  </div>
  <div class="row">
    <h4 class="book-price">{{book.price | currency: 'USD': 'symbol'}}</h4>
  </div>
  <div class="row">
    <h4 class="book-upvotes">Upvotes {{book.upvotes}}</h4>
  </div>
  <div class="row">
    <h4 class="book-description">Description</h4>
    <div class="row">
      {{book.description}}
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <button (click)="upvote()" class="btn btn-primary">Upvote</button>
    </div>
    <div class="col-6">
      <button (click)="sendToCart()" class="btn btn-primary send">Add to Cart</button>
    </div>
  </div>
</div>
