<form action="" style="margin-top: 20px">
  <mat-input-container>
    <input matInput
           placeholder="Coffee Name"
           [(ngModel)]="coffee.name"
           name="name">
  </mat-input-container>
  <mat-input-container>
    <input matInput
           placeholder="Coffee Place"
           [(ngModel)]="coffee.place"
           name="place">
  </mat-input-container>
  <mat-form-field>
    <mat-select placeholder="Coffe Type" [(ngModel)]="coffee.type" name="type">
      <mat-option *ngFor="let type of types" [value]="type">
        {{ type }}
      </mat-option>
    </mat-select>
    </mat-form-field>
  <mat-input-container>
    <textarea matInput
           placeholder="Notes"
           [(ngModel)]="coffee.notes"
           name="notes">
    </textarea>
  </mat-input-container>
</form>
